html, body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: inherit;
}

/* Section I ~ This is here to separate website to sections. */

.container-1 {
    background-color: #1F2937;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
    width: 75%;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    flex: auto;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-end;
    flex-wrap: wrap;
    flex: auto;
    gap: 12px;
}

ul > li {
    list-style: none;
    margin-left: 24px;
}

li > a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    color: orange;
}

/* Section II ~ This is here to separate website to sections. */

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 56px;
    width: 75%;
    height: 75%;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: stretch;
    gap: 5px;
    flex: 1;
}

.main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.secondary-text {
    color: #E5E7EB;
    font-size: 18px;
}

.button-1 {
    background-color: hsl(217, 91%, 59%);
    color: #F9FAF8;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid #1F2937;
    padding: 5px 22px;
}

.button-1:active {
    background-color: hsl(217, 91%, 40%);
}

.picture {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    align-self: stretch;
    width: 500px;
    height: 300px;
    flex: 1;
}

.picture img {
    max-width: 100%;
    max-height: 100%;
}

/* Section III ~ This is here to separate website to sections. */

.container-2 {
    text-align: center;
    padding: 0px 56px 48px 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.information {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    width: 75%;
}

.box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 24px;
    padding: 48px 64px;
    margin-bottom: 48px;
}

.box {
    width: 250px;
    height: 250px;
    margin-bottom: 36px;
}

.box-picture {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    border: 3px solid #3882F6;
    border-radius: 5px;
}

.box-text {
    margin: 8px 0px;
    color: #1F2937;
    font-style: italic;
}

/* Section IV ~ This is here to separate website to sections. */

.container-3 {
    background-color: #E5E7EB;
    padding: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

.writer {
    font-size: 24px;
    font-weight: bold;
    align-self: flex-end;
}

/* Section V ~ This is here to separate website to sections. */

.container-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 108px;
}

.product-container {
    border: 5px solid #3882F6;
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    padding: 36px 0x;
    margin: 48px 0px;
    width: 1000px;
    height: 150px;
}

.call {
    color: #F9FAF8;
    font-weight: 700;
}

.call-subtext {
    color: #E5E7EB;
}

.button-2 {
    background-color: hsl(217, 91%, 59%);
    color: #F9FAF8;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid #F9FAF8;
    padding: 5px 22px;
}

.button-2:active {
    background-color: hsl(217, 91%, 40%);
}

/* Section VI ~ This is here to separate website to sections. */

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding: 24px 0px;
}